body {
    font-family: Arial, sans-serif;
}

.food-image {
    width: 100%;
    max-width: 650px;
    height: 350px;
    object-fit: cover;
}

table {
    background-color: white;
}

.list-group-item {
    padding: 15px;
}